// app global css in Stylus form
// font declaration
@font-face
    font-family: coolvetica
    src: url(./fonts/coolvetica.ttf)

@font-face
    font-family: timeless-bold
    src: url(./fonts/Timeless-Bold.ttf)

@font-face
    font-family: timeless 
    src: url(./fonts/Timeless.ttf)

@font-face
    font-family: bebas
    src: url(./fonts/BebasNeue-Regular.ttf)

.font-coolvetica
    font-family: 'coolvetica'

.font-timeless-bold
    font-family: 'timeless-bold'

.font-timeless
    font-family: 'timeless'

.font-bebas
    font-family: 'bebas'

// end font declaration




// colors
.bg-color-primary
    background: $primary

.bg-color-secondary
    background: $secondary

.bg-color-accent
    background: $accent

.bg-color-tertiary
    background: $accent

.fg-color-accent
    color: $accent

.fg-color-tertiary
    color: $accent
// end colors

.header-container
    background: $primary
    height: 80px 

.tx-color-w
    color: white

.info-style-title
    color: #77817b
    font-size: 14px

.info-style-description
    color: white
    font-size: 15px

.custom-card
    background: $secondary
    max-width: 250px
    min-width: 200px

.custom-card-big
    background: $secondary
    max-width: 500px
    min-width: 300px

.tx-big
    font-size: 30px

.tx-medium
    font-size: 20px
    line-height: 0.2

.tx-small
    font-size: 12px
    line-height: 0.1

.tx-container
    max-width: 450px
    text-align: justify

.home-img
    max-width: 500px
