// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #232425
$secondary = #282c2f
$accent    = #f9b92c
$tertiary  = #f93e3e

$dark      = #282c2f

$positive  = #f9b92c
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037
